@model IEnumerable<BookShop.Models.Book>
@{
    ViewData["Title"] = "ShowSearchResults";
}
<div class="container p-2">
    <div class="row pt-4">
        <div class="=" col-6">
            <h2 class="text-primary">Search Results</h2>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" stryle="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Amount of books
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                <tr>
                    <td width="20%">@book.Id</td>
                    <td width="20%">@book.Title</td>
                    <td width="20%">@book.Author</td>
                    <td width="20%">@book.Price</td>
                    <td width="20%">@book.Amount</td>
                    <td width="40%">
                        <div class="w-100 btn-group" role-"group">
                            <a asp-controller="Book" asp-action="BuyBook" asp-route-Id="@book.Id" class="btn btn-primary mx-1">Buy book </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No books created yet</p>
    }
    <div>
        <a asp-controller="Book" asp-action="Index">Back</a>
    </div>

</div>

