@model IEnumerable<CoreWeb.Models.Person>

@{
    ViewData["Title"] = "People on the list";
}

@if (ViewData["sort"]!=null)
{
    <h1>Index, sorted by @ViewData["sort"]</h1>
}
else
{
    <h1>Index</h1>
}
<p>
    @using (Html.BeginForm("FindForm", "People", FormMethod.Post))
    {
        <input type="text" name="find" value="@ViewBag.SearchKey" />
        <input type="submit" name="search" value="Find this" />
    }
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="?sort=n">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a href="?sort=a">
                    @Html.DisplayNameFor(model => model.Age)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
